body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

button {
  padding: 30px 40px;
  border: 0px;
  background-color: rgb(99, 114, 128);
  color: wheat;
  font-size: 20px;
  font-weight: 700;
}
#announce {
  padding: 15px 0;
}

#score {
  display: flex;
  gap: 30px;
  padding: 15px 0;
}
